body{
    font-family: serif;
}
body > .wrap{
    background: url("/image/background.png") no-repeat center;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
}
.navbar-inverse{
    opacity: 0.8;
}
.breadcrumb{
    display: none;
}
.wrap > .container{
    background-color: rgba(255,255,255,0.9);
    height: 80vh;
    overflow-y: auto;
    padding-top: 30px;
}
.footer.inverse{
    color: #9d9d9d;
    opacity: 0.8;
}
.in-work{
    position: relative;
}
.in-work:after{
    content: '';
    position: absolute;
    width: 95%;
    height: 100%;
    background: url("/image/in_work.png") no-repeat 40% 50%;
    background-size: 60%;
    top: 0;
    left: 2.5%;
    background-color: rgba(20,20,20,0.7);
}

/* TODO NAVBAR*/
.dropdown-menu.inverse > li > a{
    color: #9d9d9d;
}
.dropdown-menu.inverse > li:hover > a{
    color: #fff;
}
.dropdown-menu.inverse > li > a:hover{
    background-color: transparent;
}

/* TODO END NAVBAR*/

/* TODO USER-PROFILE*/
.user-profile, .user-profile .glyphicon{
    color: #fff;
}
.user-profile a{
    color: #fff;
    font-weight: bold;
}
/* TODO END USER-PROFILE*/

/* TODO COUNTER-PAGE*/
a.change-counter{
    color: #5cb85c;
    border: 1px solid #5cb85c;
    background-color: #fff;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    line-height: 17px;
}
a.change-counter.minus{
    line-height: 16px;
}
a.change-counter:hover{
    color: #fff;
    background-color: #5cb85c;
    text-decoration: none;
}
a.counter-edit{
    color: #5cb85c;
}
/* TODO END COUNTER-PAGE*/